<?xml version="1.0" ?><Root>	<system>		
   		<System>			
    			<ldb_id>0</ldb_id>			
    			<boat_name>忔傝暔</boat_name>			
    			<ship_name>忔傝暔</ship_name>			
    			<airship_name>忔傝暔</airship_name>			
    			<boat_index>0</boat_index>			
    			<ship_index>5</ship_index>			
    			<airship_index>7</airship_index>			
    			<title_name>攑搒僞僀僩儖2</title_name>			
    			<gameover_name>僎乕儉僆乕僶乕0</gameover_name>			
    			<system_name>攑搒僔僗僥儉</system_name>			
    			<system2_name/>			
    			<party/>			
    			<menu_commands>1</menu_commands>			
    			<title_music>				
     				<Music>					
      					<name>(OFF)</name>					
      					<fadein>0</fadein>					
      					<volume>80</volume>					
      					<tempo>130</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</title_music>			
    			<battle_music>				
     				<Music>					
      					<name>boss12</name>					
      					<fadein>0</fadein>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</battle_music>			
    			<battle_end_music>				
     				<Music>					
      					<name>J愴摤廔椆1</name>					
      					<fadein>0</fadein>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</battle_end_music>			
    			<inn_music>				
     				<Music>					
      					<name>J傾僀僥儉</name>					
      					<fadein>0</fadein>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</inn_music>			
    			<boat_music>				
     				<Music>					
      					<name>慏1</name>					
      					<fadein>0</fadein>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</boat_music>			
    			<ship_music>				
     				<Music>					
      					<name>慏2</name>					
      					<fadein>0</fadein>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</ship_music>			
    			<airship_music>				
     				<Music>					
      					<name>忔傝暔1</name>					
      					<fadein>0</fadein>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</airship_music>			
    			<gameover_music>				
     				<Music>					
      					<name>僎乕儉僆乕僶乕3</name>					
      					<fadein>0</fadein>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Music>				
    			</gameover_music>			
    			<cursor_se>				
     				<Sound>					
      					<name>僇乕僜儖1</name>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</cursor_se>			
    			<decision_se>				
     				<Sound>					
      					<name>奐偗傞1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</decision_se>			
    			<cancel_se>				
     				<Sound>					
      					<name>僉儍儞僙儖1</name>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</cancel_se>			
    			<buzzer_se>				
     				<Sound>					
      					<name>僽僓乕1</name>					
      					<volume>100</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</buzzer_se>			
    			<battle_se>				
     				<Sound>					
      					<name>愴摤1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</battle_se>			
    			<escape_se>				
     				<Sound>					
      					<name>摝憱</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</escape_se>			
    			<enemy_attack_se>				
     				<Sound>					
      					<name>峌寕1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</enemy_attack_se>			
    			<enemy_damaged_se>				
     				<Sound>					
      					<name>僟儊乕僕2</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</enemy_damaged_se>			
    			<actor_damaged_se>				
     				<Sound>					
      					<name>僟儊乕僕1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</actor_damaged_se>			
    			<dodge_se>				
     				<Sound>					
      					<name>夞旔1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</dodge_se>			
    			<enemy_death_se>				
     				<Sound>					
      					<name>徚柵1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</enemy_death_se>			
    			<item_se>				
     				<Sound>					
      					<name>傾僀僥儉1</name>					
      					<volume>90</volume>					
      					<tempo>100</tempo>					
      					<balance>50</balance>					
     				</Sound>				
    			</item_se>			
    			<transition_out>20</transition_out>			
    			<transition_in>19</transition_in>			
    			<battle_start_fadeout>19</battle_start_fadeout>			
    			<battle_start_fadein>0</battle_start_fadein>			
    			<battle_end_fadeout>0</battle_end_fadeout>			
    			<battle_end_fadein>0</battle_end_fadein>			
    			<message_stretch>1</message_stretch>			
    			<font_id>1</font_id>			
    			<selected_condition>243</selected_condition>			
    			<selected_hero>1</selected_hero>			
    			<battletest_background>愴摤攚宨丒埮</battletest_background>			
    			<battletest_data>				
     				<TestBattler id="0001">					
      					<actor_id>1</actor_id>					
      					<level>27</level>					
      					<weapon_id>403</weapon_id>					
      					<shield_id>35389440</shield_id>					
      					<armor_id>46334492</armor_id>					
      					<helmet_id>51643075</helmet_id>					
      					<accessory_id>788</accessory_id>					
     				</TestBattler>				
     				<TestBattler id="0002">					
      					<actor_id>13</actor_id>					
      					<level>27</level>					
      					<weapon_id>30212535</weapon_id>					
      					<shield_id>36897229</shield_id>					
      					<armor_id>45548083</armor_id>					
      					<helmet_id>54002359</helmet_id>					
      					<accessory_id>824</accessory_id>					
     				</TestBattler>				
     				<TestBattler id="0003">					
      					<actor_id>10</actor_id>					
      					<level>27</level>					
      					<weapon_id>444</weapon_id>					
      					<shield_id>37158912</shield_id>					
      					<armor_id>46268983</armor_id>					
      					<helmet_id>54002370</helmet_id>					
      					<accessory_id>824</accessory_id>					
     				</TestBattler>				
     				<TestBattler id="0004">					
      					<actor_id>8</actor_id>					
      					<level>28</level>					
      					<weapon_id>414</weapon_id>					
      					<shield_id>35454976</shield_id>					
      					<armor_id>541</armor_id>					
      					<helmet_id>0</helmet_id>					
      					<accessory_id>0</accessory_id>					
     				</TestBattler>				
    			</battletest_data>			
    			<save_count>47701</save_count>			
    			<battletest_terrain>0</battletest_terrain>			
    			<battletest_formation>0</battletest_formation>			
    			<battletest_condition>0</battletest_condition>			
    			<equipment_setting>0</equipment_setting>			
    			<battletest_alt_terrain>-1</battletest_alt_terrain>			
    			<show_frame>F</show_frame>			
    			<frame_name/>			
    			<invert_animations>F</invert_animations>			
    			<show_title>T</show_title>			
    			<easyrpg_alternative_exp>0</easyrpg_alternative_exp>			
    			<easyrpg_battle_options>0 1 2</easyrpg_battle_options>			
    			<easyrpg_max_actor_hp>-1</easyrpg_max_actor_hp>			
    			<easyrpg_max_enemy_hp>-1</easyrpg_max_enemy_hp>			
    			<easyrpg_max_damage>-1</easyrpg_max_damage>			
    			<easyrpg_max_exp>-1</easyrpg_max_exp>			
    			<easyrpg_max_level>-1</easyrpg_max_level>			
    			<easyrpg_max_savefiles>15</easyrpg_max_savefiles>			
    			<easyrpg_max_item_count>-1</easyrpg_max_item_count>			
    			<easyrpg_variable_min_value>0</easyrpg_variable_min_value>			
    			<easyrpg_variable_max_value>0</easyrpg_variable_max_value>			
    			<easyrpg_max_actor_sp>-1</easyrpg_max_actor_sp>			
    			<easyrpg_max_enemy_sp>-1</easyrpg_max_enemy_sp>			
    			<easyrpg_max_stat_base_value>-1</easyrpg_max_stat_base_value>			
    			<easyrpg_max_stat_battle_value>-1</easyrpg_max_stat_battle_value>			
   		</System>		
  	</system></Root>